/* 색깔 넣어주기 */
.color_000000{
    background-color: #000000;
}

.color_ff2c2d{
    background-color: #ff2c2d;
}

.color_a32f2f{
    background-color: #a32f2f;
}

.color_009245{
    background-color: #009245;
}

.color_1982ff{
    background-color: #1982ff;
}

.color_fb0607{
    background-color: #FB0607;
}

.color_420d3e{
    background-color: #420d3e;
}

.color_f7931e{
    background-color: #f7931e;
}

.color_e9bf2f{
    background-color: #e9bf2f;
}

.color_a29d4b{
    background-color: #a29d4b;
}

.color_bf54b1{
    background-color: #bf54b1;
}

.color_bcadba{
    background-color: #bcadba;
}

.color_f7546c{
    background-color: #f7546c;
}

.color_d6223c{
    background-color: #d6223c;
}

.color_d667a9{
    background-color: #d667a9;
}

.color_843062{
    background-color: #843062;
}

.color_5aa0f6{
    background-color: #5aa0f6;
}

.color_b4ed6c{
    background-color: #b4ed6c;
}

.color_747474{
    background-color: #747474;
}

.color_0d0d0d{
    background-color: #0d0d0d;
}

.color_767676{
    background-color: #767676;
}

.color_ff59aa{
    background-color: #ff59aa;
}

.color_fadc60{
    background-color: #fadc60;
}

.color_d86435{
    background-color: #d86435;
}

.color_5bb3e5{
    background-color: #5bb3e5;
}

.color_f15a22{
    background-color: #f15a22;
}

.color_b5ffeb{
    background-color: #b5ffeb;
}

.color_5cc1f7{
    background-color: #5cc1f7;
}

.color_ff5555{
    background-color: #ff5555;
}

.color_9bff00{
    background-color: #9bff00;
}

.color_e70399{
    background-color: #e70399;
}

.color_0dfffe{
    background-color: #0dfffe;
}

.color_1c5acf{
    background-color: #1c5acf;
}

.color_b4d0e5{
    background-color: #b4d0e5;
}

.color_f74f01{
    background-color: #f74f01;
}

.color_f9b214{
    background-color: #f9b214;
}

.color_551a8b{
    background-color: #551a8b;
}

.color_0187f5{
    background-color: #0187f5;
}

.color_a5876b{
    background-color: #a5876b;
}

.color_282828{
    background-color: #282828;
}

.color_28292d{
    background-color: #28292d;
}

.color_004192{
    background-color: #004192;
}

.color_fdf7d4{
    background-color: #fdf7d4;
}

.color_137100{
    background-color: #137100;
}

.color_ffd200{
    background-color: #ffd200;
}

.color_ffe1e2{
    background-color: #ffe1e2;
}

.color_c6000a{
    background-color: #c6000a;
}