/* 스타일 초기화 - 각각의 태그들에게 설정되어 있는 기본 스타일을 제거 */
*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    /* 글씨 크기를 부모태그에 적용된 글씨크기로 적용하겠다. - 상속시키겠다. */
    /* 글씨 크기에 적용된 스타일(폰트사이즈/굵기) 초기화 */
    /* inherit은 글씨와 관련된 것들에 쓸 수 있음(상속이 원래 되는 것) */
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
}
/* 상속스타일로 설정하는 이유는 영역태그에 글씨 관련 속성들을 지정했을 때 그 안에 자식태그나 자손태그의 글씨스타일을 한번에 적용 혹은 수정하기 편하게 하기 위함임. */
strong, b{
    font-weight: inherit;
}
i,em,address{
    font-style: inherit;
}
a{
    color: inherit;
    text-decoration: inherit;
}
ul,ol{
    list-style: none;
}
/* 리스트 스타일 없애기 */
img,video{
    max-width: 100%;
}
/* 큰 사이즈의 이미지나 비디오를 넣더라도 최대 100%로만 출력되게 */
input{
    outline: 0;
}

/* >>>>>>>>>>>>>항상 해주기<<<<<<<<<<<<< */
/* reset css파일을 링크 걸어놓으면 모든 문서에 적용가능 */
